.show_form{
    display:none;
}

body{
    display:flex;
    justify-content:center;
    margin-top:10vh;
}
.container{
    display:flex;
    justify-content:center;
    width:30vw;
    border:black 1px solid;
    border-radius:15px;
}

.input_form{
    padding:20px;
    text-align:right;
}

.show_form{
    padding:20px;
    text-align:left;
}

.show_form p{
    display:flex;
    gap:20px;
}

.show_form p span:first-child{
    width:120px;
    font-weight:bold;
}

button{
    margin:10px;
    padding:7px;
    border-radius:15px;
    background-color:bisque;
}